.bold {
    font-weight:bold;
}

.col.day {
    width: 70px;
    height: 70px;
    border: 1px solid #eee;
    margin: 3px 3px;
    text-align: center;
    line-height: 50px;
    font-size: 40px;
    background-color: tomato;
    color: white;
}

.row.week {
    margin: 3px 3px;
}

.col.day.faded {
    background-color: #ffb5a1;
}